<div class="sidebar-stuff">
	<div id="title"><a href="/">{{ site.name }}</a></div>
	<img id="icon" src="/assets/user.png">
	<span id="description">Programming hobbyist. Budding linguist. Always, always learning.</span>
	<hr>
	<nav>
		<div>
			<!-- Pagination!! -->
			<p id="pages">
				{% if paginator.previous_page %}
				    <a href="{{ paginator.previous_page_path }}" class="nav previous"> << </a>
				{% else %}
				    <span class="previous"> << </span>
				{% endif %}
				<span>[{{ paginator.page }}]</span>
				{% if paginator.next_page %}
				    <a href="{{ paginator.next_page_path }}" class="nav next"> >> </a>
				{% else %}
				    <span class="next"> >> </span>
				{% endif %}
			</p>
			<!-- Regular links!! -->
			<p class="nav">
				<a class="nav" href="/about.html">About</a>
				<a class="nav" href="">Meow</a>
				<a class="nav" href="">Meow</a>
			</p>
		</div>
	</nav>
</div>